
.new-entry{
    z-index: 100;
    position: fixed;
    top: 165px;
    right: 50px;
    text-align: center;
    margin: auto;
    background: white;
    padding: 20px;
    width: 40%;

}

@media only screen and (max-width: 600px){
.new-entry{
    background-color:white;
    position: static;
    width: 90%;
    clear: both;
    
    
}
}