
.Timeline {
    margin-top: 19px;
}

#chatBox {
    position: fixed;
    width: 90%;
    bottom: 0;
    /* right:-20%; */
}

/* .cardhead {
    height: 250px;
    visibility: hidden;
    bottom: 0;
} */

.chat{
    background: rgb(69, 179, 199);
    width: 523px;
    height: 250px;
    position: fixed;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    transform: translate(0px, 220px);
    bottom: 0;
    right: 100px;
  }
  
  .chat.show{
    transform: translate(0px, 0px);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  
  .exit{
    position: absolute;
    top: 2px;
    right: 2px;
  }
  
